.easy-email-editor-tabWrapper {
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  padding: 0 20px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  width: 100%;
  background-color: #fff;
  border: 1px solid var(--color-neutral-3, rgb(229, 230, 235));
  border-top: none;
  border-left: none;
}

.easy-email-editor-tabWrapper-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
  margin: 8px 0;
  border-radius: 10px;
  overflow: hidden;
}

.easy-email-editor-tabItem {
  position: relative;
  background: transparent;
  border: 0;

  button {
    background-color: #f3f3f3;
    border-radius: 10px;
    padding: 4px 20px;
    .iconfont {
      &::before {
        color: #282e3e;
      }
    }
  }

  &:hover {
    button {
      color: rgb(var(--primary-6, #1890ff));
    }
  }
}

.easy-email-editor-tabActiveItem {
  button {
    color: rgb(var(--primary-6, #1890ff));
    background-color: #30384c;

    .iconfont {
      &::before {
        color: #fff;
      }
    }
  }
}
