[arco-theme='dark'] {
  .easy-email-editor-tabWrapper {
    background-color: var(--color-bg-3);
  }
  .arco-layout {
    background-color: var(--color-bg-3);
  }
  .easy-email-editor-button {
    background-color: var(--color-secondary);
    color: var(--color-text-2);
    border: 1px solid transparent;
  }
  .easy-email-editor-button:hover {
    border-color: var(--color-neutral-4);
    color: var(--color-text-2);
    background-color: var(--color-fill-3);
  }

  .easy-email-editor-button[disabled] {
    background-color: var(--color-secondary);
    color: var(--color-text-2);
    border: 1px solid transparent;
  }
  .easy-email-editor-button[disabled]:hover {
    background-color: var(--color-secondary);
    color: var(--color-text-2);
    border: 1px solid transparent;
  }
}

.fix-select-zindex {
  div:last-child:not(.arco-select-view) {
    z-index: 9999;
    .arco-trigger {
      z-index: 10000;
    }
  }
}

.fix-picker-zindex {
  div:last-child:not(.arco-collapse-item-content, .arco-collapse-item-header) {
    z-index: 9999;
    .arco-trigger {
      z-index: 10000;
    }
  }
}

.pointer-events-none {
  pointer-events: none;
}
.pointer-events-all {
  pointer-events: all;
}

.pointer-events-hover {
  &:hover {
    pointer-events: none;
  }
}

.text-red {
  color: #d84339;
}

.text-xl {
  font-size: 16px;
}

.flex {
  display: flex;
}

.gap-2 {
  gap: 0.5rem;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.zindex-100 {
  z-index: 100;
}

.flex-grow {
  flex-grow: 1;
}

.w-full {
  width: 100%;
}

.help-circle {
  border-radius: 50%;
  border: 1px solid black;
  width: 20px;
  height: 20px;
  position: relative;

  &::before {
    content: '?';
    position: absolute;
    top: -8px;
    left: 5px;
  }
}

.align-center {
  align-items: center;
}

.font-bold {
  font-weight: 500;
}

.ml-minus-10 {
  margin-left: -10px;
}

.py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.h-full {
  height: 100%;
}
