[arco-theme='dark'] {
  .easy-email-editor-tabWrapper {
    background-color: var(--color-bg-3);
  }
  .arco-layout {
    background-color: var(--color-bg-3);
  }
  .easy-email-editor-button {
    background-color: var(--color-secondary);
    color: var(--color-text-2);
    border: 1px solid transparent;
  }
  .easy-email-editor-button:hover {
    border-color: var(--color-neutral-4);
    color: var(--color-text-2);
    background-color: var(--color-fill-3);
  }

  .easy-email-editor-button[disabled] {
    background-color: var(--color-secondary);
    color: var(--color-text-2);
    border: 1px solid transparent;
  }
  .easy-email-editor-button[disabled]:hover {
    background-color: var(--color-secondary);
    color: var(--color-text-2);
    border: 1px solid transparent;
  }
}

.fix-select-zindex {
  div:last-child:not(.arco-select-view) {
    z-index: 9999;
    .arco-trigger {
      z-index: 10000;
    }
  }
}

.fix-picker-zindex {
  div:last-child:not(.arco-collapse-item-content, .arco-collapse-item-header) {
    z-index: 9999;
    .arco-trigger {
      z-index: 10000;
    }
  }
}
